.IE-only{
	display: none;
}

.inline-block{
	display: inline-block;
}
body{ font-size:16px; color: #796b68; background-color: #FFF; }

@font-face { font-family: CampaignFont; src: url('../fonts/Museo-700.woff'); }
@font-face { font-family: RegCampaignFont; src: url('../fonts/Museo-500.woff'); }
@font-face { font-family: LightCampaignFont; src: url('../fonts/Museo-300.woff'); }

@font-face { font-family: CorbelBoldFont; src: url('../fonts/cnat-font2.woff'); }
@font-face { font-family: CorbelLightFont; src: url('../fonts/cnat-font3.woff'); }


.better-font { font-family: CampaignFont,Helvetica,Arial,sans-serif; }

.lighter-font { font-family: LightCampaignFont,Helvetica,Arial,sans-serif; }

.red-bar{ height: 5px; background: #E54F3F; }

.head-line-text { font-size: 34px; margin-bottom: 20px; margin-top: 0; }

.red-title{ color:#ed2024; }

.phone-number-lg{ margin-bottom: 0; font-size: 28px; font-weight: bold; }

.logo-mobile{ margin-top: 5px; }

.phone-number-sm{ margin: 5px auto 0; font-size: 28px; font-weight: bold; border-top: 2px solid #CBCBCB; padding-top: 5px; }

.pitch-line{ font-size:16px }

.app-btn { margin: 25px 0 0 0; }

.footer a span{ font-size: 1.875em; color: #ed2024; }

.image-wrapper{ padding: 6px; margin-bottom: 20px; /*background-color: #ffffff; border: 1px solid #cacaca;*/ }

.row-2 .panel-heading{ padding: 20px 0 0 0; }

.row-2 .panel-title{ font-size:1.5em; text-align: center; color:#ed2024; }

.row-2 .panel-title h3{ display: inline-block; }

.row-2 hr{ border-top: 1px solid #D1D2D2; }

.cnhs-less-padding-left{ padding-left: 5px; }
.cnhs-less-padding-right{ padding-right: 5px; }


/*@media (min-width:768px) and (max-width: 992px){ .head-line-text{ font-size: 1.5em; margin-bottom: 10px;} }
@media (min-width:768px) and (max-width: 992px){ .pitch-line{ font-size: 1em; } }
@media (min-width:768px) and (max-width: 992px){ .app-btn{ font-size: 1.125em; margin-top: 5px; } }*/

/* override section*/

.btn-cnhs {
	background: #ed2024; /* Old browsers */
	background: -moz-linear-gradient(top,  #ed2024 0, #d32621 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ed2024), color-stop(100%,#d32621)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ed2024 0,#d32621 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ed2024 0,#d32621 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ed2024 0,#d32621 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ed2024 0,#d32621 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed2024', endColorstr='#d32621',GradientType=0 ); /* IE6-9 */
	background-repeat: repeat-x;
	border-color: #B92C28;
}

.btn-cnhs:hover, .btn-cnhs:focus { background-color: #D00600; }

a:hover{ text-decoration: none; }

.navbar-brand { height: 100%; }

.navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom{ box-shadow: #888 0px 0px 20px; }

.row {  }

.panel{ box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.19); border: 1px solid #DBD6D4; }

.shadowing{  
	box-shadow:2px 2px 15px 5px #4C4C4C;
 	-webkit-box-shadow:2px 2px 15px 5px #4C4C4C;
 	-moz-box-shadow:2px 2px 15px 5px #4C4C4C;
 	 }


@media (min-width: 992px){ .panel{ min-height: 350px;} .panel-cardiology{ min-height: 320px;} }

a.list-group-item-cardiology {
	color: #746661;
}

.list-group-item-cardiology {
	background-color: #e3e0df;
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	border: 1px solid #746661;
}

.modal-title-cardiology {
	margin: 0;
	line-height: 1.5em;
	color: #ffffff;
	font-family: CampaignFont,Helvetica,Arial,sans-serif;
	font-size: 22px;
}

.glue{
	display: inline-block;
}

/* Sticky footer styles
-------------------------------------------------- */
html { position: relative; min-height: 100%; }
body { margin-bottom: 80px; }

.footer { position: absolute; bottom: 0; width: 100%; height: 120px; background-color: #FBFBFB; border-top: 1px solid #e3e1e2; box-shadow: inset 0 1px 27px 0 rgba(0,0,0,.15); padding: 45px 0px; font-size: .75em;}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container { padding: 80px 15px 0; }
.top-nav{
	background-color: #ffffff;
	background-image: linear-gradient(to bottom,#fff 0,#ffffff 100%);
	background-image: -webkit-linear-gradient(top,#FFF 0,#ffffff 100%);
	background-image: -o-linear-gradient(top,#fff 0,#ffffff 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#FFF),to(#ffffff));
	background-image: linear-gradient(to bottom,#FFF 0,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffff', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 5px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 5px rgba(0, 0, 0, 0.075);
}

.provider-listing{
	font-family: Arial;
}


/*CAMPAIGN SPECIFIC OVERRIDES GO BELOW*/
input[placeholder]{
	text-align: center;
}

a.scrollToMap{
	cursor: pointer;
}

.map-heading{
  background-color: #675f5c;
}

.map-heading h1{
  color: #FFF;
  margin: 0;
  line-height: 1;
  padding: 20px 0;
  font-size: 2em;
}

#map-canvas {
  height: 500px;
}

body{
	padding-top: 110px;
}

#content-body{
	overflow: hidden;
}

img.logo-very-small{
	display: none;
}

.media-middle {
	vertical-align: top;
}

.btn-form {
	width: 330px;
	margin-bottom: 20px;
	text-transform: none;
	font-size: 1.3em;
	margin-top: 15px;
	letter-spacing: .04em;
	color: #ffffff;
	background-color: #ed2024;
	line-height: 1;
	padding: 15px 20px;
	border-radius: 0px !important;
	font-family: RegCampaignFont,Helvetica,Arial,sans-serif;
}

.btn-form:hover, .btn-form:focus, .btn-form:active {
	color: #ffffff;
	background-color: #b32614;
}

.btn-cardio {
	clear:both;
}

.content-wrap{
	padding-left: 0;
	padding-right: 0;
}
.row{
	overflow: hidden;
	margin-left: 0;
	margin-right: 0;
}

.container .row{
	margin-right: -15px;
  	margin-left: -15px;
}

.row p { 
	font-family: LightCampaignFont,Helvetica,Arial,sans-serif;
	font-size: 1.45em;
	font-weight: 300;
	line-height: 1.4;
}

.row ul { 
	padding-left: 16px;
}

.row h1{
	color: #ed2024;
	padding-bottom: 20px;
	font-size: 2.5em;
	font-family: RegCampaignFont,Helvetica,Arial,sans-serif;
}

.row1-caption h1 span.part-1{
	display: block;
	margin-bottom: 20px;
}

.row-4 ul li { 
  color: #796b68;
  font-family: LightCampaignFont,Helvetica,Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2em;
  padding-left: 0px;
  margin-top: 15px;
}

.row-1, .row-4, .owbox{
	color: #fff;
}
.row-3{ margin: 0 0 0 0; overflow: visible;}

.row-2{
	padding:100px 0;
}

.row-4, .row-6, .row-7 {
	padding: 60px 0;
}

.row-7{
	background-color: #f0eeed;
}

.header-appt-phone { 
	color: #d72d1e; 
	font-size: 1.65em;

}

.header-text-right{
	display: block;
	font-size: 1.5em;
	text-transform: uppercase;
	color: #877369;
	font-family: CampaignFont,Helvetica,Arial,sans-serif; 	

}

.phone-number-box {
	text-align: center;
	line-height: 1;
	position: relative;
	padding: 20px;
}


.row-1 {
	max-width: 1920px;
	background-image: url('../../files/images/fap-row1.jpg');
	background-repeat: no-repeat;
	z-index: 999;
	background-color: #fff;
	min-height: 866px;
	margin: 0 auto;
	background-position: right top;
}

.row1-caption h1 {
	font-size: 2.9em;
	line-height: 1em;
	font-weight: 500;
	text-transform: none;
	color: #ed2c1e;
	font-family: RegCampaignFont,Helvetica,Arial,sans-serif;
}

.fap-cta a {
	font-size: 1.9em;
	line-height: 1em;
	text-transform: none;
	color: #796b68;
	font-family: RegCampaignFont,Helvetica,Arial,sans-serif;
}

.fap-cta:after {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: #ed2c1e;
	border-width: 10px;
	 margin-left: 10px;
 	 margin-top: 5px;
}

.row1-caption {
	margin-top: 150px;
	max-width: 600px;
}

p.banner-subtitle{
	font-size: 1.5em;
	color: #796b68;
}

p.new-color {
	color: #796b68;
}


.row-2 .box-left{
	padding-top: 45px;
}

.row-4 {
	color: #988b87;
}

.row-3 h1 {
	color: #FFFFFF;
}


.row-5 {
	max-width: 1920px;
	background-image: url('../../files/images/children-1920.jpg');
	background-repeat: no-repeat;
	z-index: 999;
	background-color: #fff;
	min-height: 655px;
	margin: 0 auto;
	background-position: right top;
}

.contact-row {
	padding-bottom: 10px;
}

.contact-row h1 {
	text-transform: none;
	color: #ed2024;
	font-size: 3.5em;
	font-family: LightCampaignFont,Helvetica,Arial,sans-serif;
}

.contact-row p { 
	font-family: LightCampaignFont,Helvetica,Arial,sans-serif;
	font-size: 2em; 
}

p.text-small { 
	font-size: 1.45em; 
}

.form-appt-phone {
	color: #ed2024;
	font-size: 2.5em;
}

#formErrprMsg {
  padding: 10px;
  margin-bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  color: red;
  background-color: #F2F2B5;
  line-height: 1;
  font-family: 'Arial', sans-serif;
}

.paw-box {
	background-color: #c92b2c;
	border-radius: 0 50px;
	padding: 60px 50px;
	color: #ffffff;
}

.paw-box-reverse {
	background-color: #c92b2c;
	border-radius: 50px 0;
	padding: 60px 50px;
	color: #ffffff;
}

.campaign-media{
	background-color: white;
	border: 2px solid #e23525;
	margin-top: -2px;
}

.campaign-media h4, .campaign-media h5, .campaign-media h6{
	margin:0;
}


.form-group{
	margin-bottom: 0;
}

.form-group .form-field{
	margin-bottom: 5px;
}

.form-group .form-control{
	background-color: #E8E8E8;
}


.meet-doctors-mobile, .doc-list-tablet{
	display: none;
}

#confirmation{
	padding: 30px 15px;
}

#confirmation h1, #confirmation p{
  margin: 0;
  padding: 0;
  line-height: 1;
}

#confirmation h1{
	font-size: 1.5em;
	margin-bottom: 10px;
}

.back-top {
	padding: 20px 0 0 0;
}

a.top-link {
  font-size: 1em;
  text-transform: uppercase;
  color: #ED2024;
  font-family: RegCampaignFont,Helvetica,Arial,sans-serif;
}


/*Media Queries*/

@media (max-width: 1440px) {

	.row-1 {
		min-height: 663px;
		background-image: url('../../files/images/fap-1440.jpg');
	}

	.row1-caption {
		margin-top: 150px;
	}

	.row1-caption h1 {
		font-size: 2.2em;
	}

	.row-5 {
	min-height: 491px;
	background-image: url('../../files/images/children-1440.jpg');
	}

}

@media (max-width: 1199px)  {
	.row1-caption {
	  font-size: 14px;
	}
	.paw-box {
	  padding: 60px 20px;
	  font-size: 22px;
	}
}

@media (max-width: 1023px)  {

	body{
		font-size: 12px;
	}

	.row-1 {
		min-height: 462px;
		background-image: url('../../files/images/fap-1024.jpg');
	}

	.row1-caption {
		margin-top: 80px;
		margin-left:-40px;
	}

	
	.row1-caption h1 {
		font-size: 2.5em;
		line-height: 1.2em;
	}

	p.banner-subtitle{
		display:none;
	}

	.row-2 {
		padding: 40px 0 30px 0;
	}

	.row-5 {
	min-height: 349px;
	background-image: url('../../files/images/children-1024.jpg');
	}


	p.tap-text {
		color: #ffffff;
		font-size: 2em;
		position: relative;
		top: 140px;
	}


}

@media (max-width: 950px)  {
	.row1-caption {
	  font-size: 12px;
	}

	.phone-number-box {
		padding: 20px 0;
		margin: 15px 0;
	}
}


@media (max-width: 767px)  {

	body{
		padding-top: 0;
		font-size: 11px;
	}

	.fap-cta:after {
 	margin-top: -1px;
}

	img.mobile-tips-image {
		width:100%;
	}

	.ped-form {
		margin-top:20px;
	}


	.row-7 {
		padding: 15px 0 60px;
		background-color: #fff;
	}

	.row-4 {
		display:none;
	}

	a.top-link{
		bottom: -15px;
	}
	
	.row-6{
		padding-top: 30px;
	    padding-bottom: 15px;
	    background-color: #FFF;
	}
	nav .container-fluid {
		padding-left: 10px;
		padding-right: 10px;
	}

	p.navbar-text.phone-number-box.better-font {
		margin: 5px auto 0;
		display: inline-block;
	}

	nav .navbar-right {
		text-align: right;
	}

	.navbar {
		margin-bottom: 0; 
	}

	.row-1 {
		min-height: 354px;
		background-image: url('../../files/images/fap-768.jpg');
	}

	.row1-caption {
		margin-top: 50px;
		margin-left:-30px;
	}

	.row1-caption h1 {
		font-size: 2em;

	}

	#whySec{
		display: none;
	}

	.row-5 {
	min-height: 262px;
	background-image: url('../../files/images/children-768.jpg');
	}

	input[placeholder]{
		text-align: left;
	}

}

@media (max-width: 600px)  {
	.row1-caption {
	  font-size: 11px;
	}

	.row-6{
		padding-top: 20px;
	}

	.row-3 h1, .row-6 h1, .row-7 h1{
		font-size: 2em;
	}

	.row1-caption h1 span.part-1{
		margin-bottom: 10px;
	}

	.row1-caption h1{
		padding-bottom: 0;
	}
}

@media (max-width: 479px)  {

	img.logo-small{
		display: none;
	}

	img.logo-very-small{
		display: block;
	}

	.brand-logo-link{
		padding: 10px 0;
	}

	.brand-logo-link img{
		margin:0 auto;
	}

	nav .navbar-right {
		text-align: center;
	}

	p.sub-desc {
		line-height: 1.2em;
	}

	p.navbar-text.phone-number-box.better-font.brand-text {
		margin: 15px 0px 0px 0px ;
		padding: 0;
		font-size: .7em;
		float:right;
	}

	.row-1 {
		min-height: 221px;
		background-image: url('../../files/images/fap-480.jpg');
	}
	.row-3 h1, .row-6 h1, .row-7 h1{
		font-size: 2em;
	}
	.row-6{
		padding-top: 15px;
	}

	.btn-form {
		font-size: 1.3em;
		margin-top: 10px;
		padding: 10px 10px;
		width: 220px;
	}

	.row1-caption {
		margin-top: 30px;
		margin-left:-40px;
	}


	.row1-caption h1 {
		font-size: 1.3em;
		margin: 0 0 10px 0;
	}

	.fap-cta a {
	font-size: 1.2em;
	}

	.fap-cta:after {
	border-width: 6px;
	margin-left: 5px;
 	margin-top:0px;
}

	.row-5 {
	min-height: 164px;
	background-image: url('../../files/images/children-480.jpg');
	}


	p.tap-text {
		color: #ffffff;
		font-size: 1.5em;
		position: relative;
		top: 40px;
	}

	#bannerSec .row1-caption{
		left: 10px;
		position: relative;
		font-size: 11px;
	}

}

